<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/hv01-white.png') }}">
    <title>Grandpy Bot</title>
</head>

<body>
    <div class="container">
        <header>
            <p><img id="logo" src="{{ url_for('static', filename='img/robot.png') }}" alt="robot clipart"></p>
            <h1>GrandPy Bot!</h1>
            <h2>"Le robot qui vous répond comme si c'était votre grand-père"</h2>
            <p id="project_number"><img id="oc" src="{{ url_for('static', filename='img/oc.png') }}" alt=""><strong>
                    Projet 07</strong></p>
        </header>

        <div class="content">
            <div id="messaging">
                <div class="msg_reply"></div>
                <div id="loading"></div>
            </div>
            <!-- Form sending message -->
        </div>

        <div class="form_box container">
            <form method="POST">
                <input type="text" name="query" id="queryTxt"
                    placeholder="Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?" autofocus>
                <button type="submit" id="btn_send">
                    <img src="{{ url_for('static', filename='img/message-plus.png')  }}" alt="Bouton envoyer">
                </button>
            </form>
        </div>
    </div>

    <footer>
        <p>Vincent Houillon //
            <a class="btn btn-dark" href="https://github.com/vincenthouillon/grandpy_bot" target=_blank>Github</a>
            //
            &copy 2019 <a href="http://www.wtfpl.net/" target="_blank">WTFPL</a>
        </p>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=myMap" async
        defer></script>
</body>

</html>