[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
autopep8 = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"

[packages]
flask = "*"
pymediawiki = "*"
googlemaps = "*"

[requires]
python_version = "3.7"
