@blue     : #5b8caa;
@darkblue : #4a7187;
@grey     : #B4B4B4;
@lightgrey: #dddddd;

body {
    // margin-bottom: 70px;
    background-color: #F8F8F8;
    min-height      : 100vh;
}

a {
    color: @blue;
    &:hover {
        text-decoration: none;
    }
}

#robot {
    width        : 100px;
    margin-bottom: -30px;
}

header h1 {
    font-size: 1.8em;
    margin   : 20px 0 5px 20px;
}

header h2 {
    color      : @blue;
    font-style : italic;
    font-size  : 1em;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 20px;
}

#content {
    position: relative;
    height: 60vh;
}

#loading {
    border: 10px solid @lightgrey; 
    border-top: 10px solid @blue; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none;
    // margin:10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#messaging {
    text-align: justify;
    overflow  : auto;
    height    : 100%;
    border-top: 1px solid @lightgrey;
    padding   : 10px;
    margin-top: 10px;
}

.incoming_msg {
    margin: 20px 0 20px 20px;
    color : @blue;
}

.human {
    font-size    : 0.8em;
    line-height  : 10px;
    margin-bottom: 4px;
    color        : @blue;
    font-weight  : bold;
}

.outgoing_msg {
    color: black;
}

.bot {
    font-size    : 0.8em;
    line-height  : 10px;
    margin-bottom: 4px;
    color        : @grey;
    font-weight  : bold;
}

#new_msg {
    margin-top: 40px;
}

#form_msg {
    position: relative;
}

.input_msg {
    border       : 1px solid @lightgrey;
    margin-bottom: 10px;
    padding      : 14px;
    width        : 100%;
    box-shadow   : 0px 0px 10px 5px @lightgrey;
}

input::placeholder {
    font-size: 0.8em;
    color    : @grey;
}

#input_btn {
    position        : absolute;
    height          : 32px;
    width           : 32px;
    margin-left     : -40px;
    margin-top      : 12px;
    background-image: url(../img/message-plus.png) no-repeat;
    background-color: @blue;
    border          : none;
    padding         : 0px;
    box-shadow      : 0px 0px 10px 2px @blue;
}

#googlemaps {
    height       : 300px;
    width        : 70%;
    display      : block;
    margin       : 5px 0 10px 0;
    border-radius: 10px;
    border       : 1px solid @lightgrey;
}

.navbar {
    background-color: @lightgrey;
    p {
        margin-bottom: 0;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    #robot {
        width: 80px;
    }

    header h1 {
        font-size : 1.8em;
        margin-left: 24px;
    }

    header h2 {
        font-size: 0.9em;
        margin-left: 24px;
    }

    #content {
        height: 65vh;
    }

    input::placeholder {
        font-size: 0.6em;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    header h1 {
        font-size: 1.4em;
        margin-left: 5px;
    }

    header h2 {
        font-size  : 0.9em;
        margin-left: 5px;
    }

    #content {
        height: 65vh;
    }

    #robot {
        width: 80px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 575.98px) {
#robot {
        width   : 60px;
    }
    
    header h1 {
        font-size : 1.4em;
        text-align: center;
        margin    : 10px 0 0 0;
    }

    header h2 {
        font-size : 0.9em;
        text-align: center;
        margin    : 0 0 -10px 0;
    }

    header p {
        text-align: center;
    }

    #messaging {
        margin-top: 20px;
    }

    #content {
        padding   : 0 6px 6px 6px;
        height: 58vh;
    }

    .outgoing_msg {
        font-size: 0.9em;
        padding  : 2px 4px 0 4px;
    }

    #googlemaps {
        width: 100%;
    }

    input::placeholder {
        font-size: 0.6em;
    }

    p {
        font-size : 0.8em;
        margin-top: 10px;
    }

    footer p {
        font-size: 0.7em;
        .btn-dark {
            font-size: 0.9em;
        }
    }
}

