body {
  background-color: #F8F8F8;
  min-height: 100vh;
}
a {
  color: #5b8caa;
}
a:hover {
  text-decoration: none;
}
#robot {
  width: 120px;
  float: left;
  margin-bottom: -30px;
}
header h1 {
  font-size: 1.8em;
  padding-top: 44px;
}
header h2 {
  color: #5b8caa;
  font-style: italic;
  font-size: 1em;
  font-family: 'Gloria Hallelujah', cursive;
}
#messaging {
  text-align: justify;
  overflow: auto;
  min-height: 55vh;
  border-top: 1px solid #dddddd;
  padding: 10px;
  margin-top: 35px;
}
.incoming_msg {
  margin: 20px 0 20px 20px;
  color: #5b8caa;
}
.human {
  font-size: 0.8em;
  line-height: 10px;
  margin-bottom: 4px;
  color: #5b8caa;
  font-weight: bold;
}
.outgoing_msg {
  color: black;
}
.bot {
  font-size: 0.8em;
  line-height: 10px;
  margin-bottom: 4px;
  color: #b4b4b4;
  font-weight: bold;
}
#form_msg {
  position: relative;
}
.input_msg {
  border: 1px solid #dddddd;
  margin-bottom: 10px;
  padding: 14px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 5px #dddddd;
          box-shadow: 0px 0px 10px 5px #dddddd;
}
input::-webkit-input-placeholder {
  font-size: 0.8em;
  color: #b4b4b4;
}
input:-ms-input-placeholder {
  font-size: 0.8em;
  color: #b4b4b4;
}
input::-ms-input-placeholder {
  font-size: 0.8em;
  color: #b4b4b4;
}
input::placeholder {
  font-size: 0.8em;
  color: #b4b4b4;
}
#input_btn {
  position: absolute;
  height: 32px;
  width: 32px;
  margin-left: -40px;
  margin-top: 12px;
  background-image: url(../img/message-plus.png) no-repeat;
  background-color: #5b8caa;
  border: none;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 10px 2px #5b8caa;
          box-shadow: 0px 0px 10px 2px #5b8caa;
}
#googlemaps {
  height: 300px;
  width: 70%;
  display: block;
  margin: 5px 0 10px 0;
  border-radius: 20px;
  border: 1px solid #dddddd;
}
.navbar {
  background-color: #dddddd;
}
.navbar p {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  #robot {
    width: 100px;
  }
  header h1 {
    font-size: 1.8em;
    margin-top: -20px;
  }
  header h2 {
    font-size: 1em;
  }
  #messaging {
    min-height: 70vh;
  }
  input::-webkit-input-placeholder {
    font-size: 0.6em;
  }
  input:-ms-input-placeholder {
    font-size: 0.6em;
  }
  input::-ms-input-placeholder {
    font-size: 0.6em;
  }
  input::placeholder {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 576px) {
  #robot {
    width: 60px;
    position: absolute;
  }
  header h1 {
    font-size: 1.4em;
    text-align: center;
    margin-top: 15px;
  }
  header h2 {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: -20px;
  }
  header p {
    text-align: center;
    width: 80%;
  }
  #messaging {
    padding: 0 6px 6px 6px;
    min-height: 60vh;
  }
  .outgoing_msg {
    font-size: 0.9em;
    padding: 2px 4px 0 4px;
  }
  #googlemaps {
    width: 100%;
  }
  input::-webkit-input-placeholder {
    font-size: 0.6em;
  }
  input:-ms-input-placeholder {
    font-size: 0.6em;
  }
  input::-ms-input-placeholder {
    font-size: 0.6em;
  }
  input::placeholder {
    font-size: 0.6em;
  }
  p {
    font-size: 0.8em;
    margin-top: 10px;
  }
  footer p {
    font-size: 0.7em;
  }
  footer p .btn-dark {
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=style.css.map */