@blue     : #5b8caa;
@darkblue : #4a7187;
@grey     : #B4B4B4;
@lightgrey: #dddddd;

body {
    height    : 100%;
    background: #f5f6fa;
}

a {
    color: @blue;
    &:hover {
        text-decoration: none;
    }
}

#logo {
    width       : 70px;
    float       : left;
    margin-right: 10px;
}

header h1 {
    font-size  : 1.8em;
    padding-top: 5px;
}

header h2 {
    color      : @blue;
    font-size  : 0.9em;
    font-style : italic;
    font-family: 'Gloria Hallelujah', cursive;
    max-width  : 400px;
}

#project_number {
    float           : right;
    margin-top      : -80px;
    padding         : 0 4px;
    font-size       : 0.7em;
    background-color: @lightgrey;
    border-radius: 4px;
}

#oc {
    width        : 12px;
    margin-bottom: 3px;
}

.content {
    border-top: @blue solid 1px;
    position  : relative;
    width     : 100%;
    height    : 75vh;
    margin-top: 15px;
}

#loading {
    border: 10px solid @lightgrey; 
    border-top: 10px solid @blue; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#messaging {
    position: absolute;
    overflow: auto;
    top     : 0;
    padding : 15px 5px;
    bottom  : 70px;
}

.incoming_msg {
    margin: 20px 0 20px 20px;
    color : @blue;
}

.human {
    font-size    : 0.8em;
    line-height  : 10px;
    margin-bottom: 4px;
    color        : @blue;
    font-weight  : bold;
}

.outgoing_msg {
    color: black;
}

.bot {
    font-size    : 0.8em;
    line-height  : 10px;
    margin-bottom: 4px;
    color        : @grey;
    font-weight  : bold;
}

#new_msg {
    margin-top: 40px;
}

.form_box {
    position: absolute;
    bottom  : 80px;
    left    : 0;
    right   : 0;
}

form {
    border    : none;
    box-shadow: 0px 0px 20px 1px @darkblue;
    width     : 100%;
}

input {
    height      : 40px;
    width       : 100%;
    border      : none;
    padding-left:  10px;
}

#btn_send {
    position: absolute;
    border: none;
    background-color: @blue;
    right: 10px;
    top: 0px;
    bottom: 0px;
}


input::placeholder {
    font-size: 0.8em;
    color    : @grey;
}

#googlemaps {
    height       : 350px;
    width        : 80%;
    display      : block;
    margin       : 5px 0 10px 0;
    border-radius: 10px;
    border       : 1px solid @lightgrey;
}

footer {
    position: absolute;
    background-color: @blue;
    color: white;
    padding: 6px 10px 0px 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    font-size: 0.8em;
}

.btn {
    font-size: 0.9em;
    padding: 3px;
}

@media screen and (max-width: 576px) {
    header h1 {
        font-size: 1.4em;
    }
    
    header h2 {
        font-size: 0.8em;
    }


    input::placeholder {
        font-size: 0.6em;
    }
}