@blue     : #5b8caa;
@darkblue : #4a7187;
@grey     : #B4B4B4;
@lightgrey: #dddddd;

body {
    // margin-bottom: 70px;
    background-color: #F8F8F8;
    min-height      : 100vh;
}

a {
    color: @blue;
    &:hover {
        text-decoration: none;
    }
}

#robot {
    width        : 120px;
    float        : left;
    margin-bottom: -30px;
}

header h1 {
    font-size: 1.8em;
    padding-top: 44px;
}

header h2 {
    color      : @blue;
    font-style : italic;
    font-size  : 1em;
    font-family: 'Gloria Hallelujah', cursive;
}

#content {
    position: relative;
    height: 60vh;
}

#messaging {
    text-align: justify;
    overflow  : auto;
    height    : 100%;
    border-top: 1px solid @lightgrey;
    padding   : 10px;
    margin-top: 35px;
}

.incoming_msg {
    margin: 20px 0 20px 20px;
    color : @blue;
}

.human {
    font-size    : 0.8em;
    line-height  : 10px;
    margin-bottom: 4px;
    color        : @blue;
    font-weight  : bold;
}

.outgoing_msg {
    color: black;
}

.bot {
    font-size    : 0.8em;
    line-height  : 10px;
    margin-bottom: 4px;
    color        : @grey;
    font-weight  : bold;
}

#form_msg {
    position: relative;
}

.input_msg {
    border       : 1px solid @lightgrey;
    margin-bottom: 10px;
    padding      : 14px;
    width        : 100%;
    box-shadow   : 0px 0px 10px 5px @lightgrey;
}

input::placeholder {
    font-size: 0.8em;
    color    : @grey;
}

#input_btn {
    position        : absolute;
    height          : 32px;
    width           : 32px;
    margin-left     : -40px;
    margin-top      : 12px;
    background-image: url(../img/message-plus.png) no-repeat;
    background-color: @blue;
    border          : none;
    padding         : 0px;
    box-shadow      : 0px 0px 10px 2px @blue;
}

#googlemaps {
    height       : 300px;
    width        : 70%;
    display      : block;
    margin       : 5px 0 10px 0;
    border-radius: 25px;
    border       : 1px solid @lightgrey;
}

.navbar {
    background-color: @lightgrey;
    p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {

    #robot {
        width: 100px;
    }

    header h1 {
        font-size : 1.8em;
        margin-top: -20px;
    }

    header h2 {
        font-size: 1em;
    }

    #content {
        min-height: 70vh;
    }

    input::placeholder {
        font-size: 0.6em;
    }
}


@media screen and (max-width: 576px) {

    #robot {
        width   : 60px;
        position: absolute;
    }
    
    header h1 {
        font-size : 1.4em;
        text-align: center;
        margin-top: 15px;
    }

    header h2 {
        font-size    : 0.9em;
        text-align   : center;
        margin-bottom: -20px;
    }

    header p {
        text-align: center;
        width     : 80%;
    }

    #content {
        padding: 0 6px 6px 6px;
        min-height: 60vh;
    }

    .outgoing_msg {
        font-size: 0.9em;
        padding  : 2px 4px 0 4px;
    }

    #googlemaps {
        width: 100%;
    }

    input::placeholder {
        font-size: 0.6em;
    }

    p {
        font-size : 0.8em;
        margin-top: 10px;
    }

    footer p {
        font-size: 0.7em;
        .btn-dark {
            font-size: 0.9em;
        }
    }
}

