<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grandpy Bot</title>
</head>

<body>
    <h1>Welcome !</h1>

    <footer>
        <p>Vincent Houillon -
            <a href="https://github.com/vincenthouillon/grandpy_bot">Repositery Github</a> -
            <a href="https://github.com/vincenthouillon/grandpy_bot/projects/1">Tableau
                agile</a></p>
    </footer>
</body>

</html>